.book > img {
    max-height: 100px;
    grid-area: image;
}

#logo{
    /* position: absolute; */
    width: 20%;
    height: 20%;
    opacity: 70%;
    
    
}

header{
    display: flex;
    justify-content: center;
}

a{
    cursor: pointer;
}
ul{
    position: absolute;
    top: 50%;
}

#logoText{
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    top: 40px;
    color: rgb(12, 7, 0);
}

#searchBar{
    width: 100%;
    height: 50px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    font-size: 12px;
}

#searchWrapper{
    position: relative;
    display: flex;
    flex-direction: row;
}

.search-box{
    position:absolute;
    right: 50%;
}
.search-select{
    position:absolute;

}

#goBack{
   text-decoration: none;
    background: none;
    border-radius: 200px;
   border: 2px solid rgb(35, 143, 157);
   text-transform: uppercase;
   padding: 12px 20px;
   min-width: 200px;
   margin:10px;
   transition: color 0.4s linear;
   position: relative;
   color:black
}


#goBack:hover{
    color: #fff;
}

#goBack::before{
    content:"";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(115, 225, 223);
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
    transform: scaleX(0);
    border-radius: 200px;
}
#goBack:hover::before{
    transform: scaleX(1);
    border-radius: 200px;
}
