.book > img {
    max-height: 100px;
    grid-area: image;
}

#logo{
    /* position: absolute; */
    width: 20%;
    height: 20%;
    opacity: 70%;
    
    
}

header{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    top: 40px;
    color: rgb(12, 7, 0);
}

#searchBar{
    width: 100%;
    height: 50px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    font-size: 12px;
}

#searchWrapper{
    position: relative;
    display: flex;
    flex-direction: row;
}

/* #searchWrapper::after{
    content: '🔎';
    position: absolute;
    top: 2px;
    right: 15px;
} */