body{
   background: rgb(0, 0, 0);
   color: white;
   font-family: 'Hind Siliguri', sans-serif;
}
.book     {
    position: relative;
    width: 200px;
    margin: 50px;
}

#bookListTitle{
    position: relative;
    top: -120px;
}

#categoryList{
   display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   align-items: center;
}

#booksDiv{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    top: -200px;
}
#favsList{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   position: relative;
   /* width: 100%; */
}

.books{
    margin: 20px;
    width: 20%;
}


#listTitle{
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    padding: 25px 15px 25px 15px;
    font-size: 20px;
    background: rgba(5, 71, 93, 0.2);
    border-radius: 100px;
    transition: all 0.3s ease;
}
#listTitle:hover{
    background: rgba(5, 71, 93, 0.9);
    border-radius: 0;
    font-weight:lighter ;
}
.listP{
    text-align: center;
    padding: 20px;
}

#listItem{
    border: solid;
    border-width: 5px;
    border-color: rgb(35, 143, 157);
    border-radius: 60px;
    display: flex;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(12,53,55,0.8575805322128851) 49%, rgba(0,0,0,1) 100%);
    flex-direction: column;
    margin: 20px;
    -moz-box-shadow: 15px -8px 57px 14px rgba(0,43,43,0.77);
    box-shadow: 15px -8px 57px 14px rgba(0,43,43,0.77);
    transition: all 0.3s ease;
}

#listItem:hover{
    border-radius: 0;
    border-width: 2px;
}

.bookImage{
    display: block;
    width: 100%;
    border-radius: 20px;
    /* height: 50%; */
    min-height: 300px;
    max-height: 300px;
    margin-top: 30px;
}
.imageOverlay{
    position: absolute;
    top:30px;
    height: 315px;
    left:0px;
    width: 100%;
    
    background: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: first baseline;
    opacity: 0;
    transition: opacity 0.25s;
}



.imageOverlay > *{
    transform:translateY(20px);
    transition: transform 1s;
}

.imageOverlay:hover{
    opacity: 1;
}
.imageOverlay:hover > *{
    transform: translateY(0);
}

.imageDescription{
    font-size: 1em;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}



#logo{
    /* position: absolute; */
    width: 20%;
    height: 20%;
    opacity: 70%;    
    color: rgb(255, 21, 21);
}

#heartImage{
    width: 10%;
    cursor: pointer;
    position: absolute;
    right: 150px;
    margin: 0px 50px 0px 20px
}

#heartImage:hover{
    width: 13%;
    right: 143px;
}

#navTab{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 10px;
    list-style-type: none;
    right: 20px;
    align-items:flex-start;
}
#navTab > li{
    margin: 20px;
}

#rankNumber{
    margin: 0 !important;
    width: 30%;
    background: #20a5c3;
    text-align: center;
    border-radius: 30px;
    height: 30%;
}

#logoContainer{
    position: absolute;
    left: -850px;
    top: -60px;
    width: 50%;
}



#userName{
    position: relative;
    top: -10px;
    cursor: pointer;
    font-size: 20px;
}
#userName:hover{
    font-size: 23px;
    top: -10px;
    /* right: 245px; */
}

#btnLogin, #btnSignup{
    padding: 8px;
    border-radius: 20px;
    background: none;
    color: white;
    cursor: pointer;
    border: 3px solid rgb(35, 143, 157);
    display: none;
}

#btnLogout{
    padding: 8px;
    border-radius:20px;
    background: none;
    color: white;
    cursor: pointer;
    border: 3px solid rgb(35, 143, 157);
   display: none;
   position: relative;
   right: -20px;
   margin-right: 30px;
}

#modal::backdrop{
    background-color: rgba(0, 0, 0, 0.6);
    

}
#modal,#modal2, #modal3{
   
    border-radius: 40px;
    padding: 30px;
    border: 5px solid rgba(14, 99, 125, 0.8) ;
}


::-webkit-scrollbar{
    width: 12px;
   background: rgb(46, 46, 46);
   border-radius: 200px;
   border: solid rgb(26, 26, 26);
}

::-webkit-scrollbar-thumb{
background: linear-gradient(transparent,#3bb9f7);
border-radius: 6px;

}

::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent,#006cff);
    
}

#navImage{
    width: 40px;
    height: 50px;
    border-radius: 20px;
}

#profileImage{
    width: 200px;
    height: 250px;
    border-radius: 200px;
    

}

.spinner{
    border: 9px solid rgb(99, 99, 99);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-left-color: rgb(71, 47, 252);
    /* filter: blur(0px) brightness(200%); */
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;

    animation:spin 1s ease infinite;
}
@keyframes spin{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
#modal4{
    background: rgba(0, 0, 0, 0);
    border: none;
    overflow: hidden;
    border-radius: 80px;
}



#selectUpdate{
    border-radius: 20px;
    background: none;
    color: white;
    border: 2px solid rgb(23, 84, 120);
    padding: 10px;
    cursor: pointer;
    /* width: 100%; */
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    position: absolute;
    
    width: 20%;
}
option{
    background: black;
}

ul{
    position: absolute;
    top: 50%;
    list-style-type: none;
}

#logoText{
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    position: fixed;
    top: 30px;
    color: rgb(255, 255, 255);
    left: 40px;
    background: rgba(0, 47, 67, 0.7);
    padding: 20px;
    border-radius: 15px;
}

#emailInput,#email2,#pass1,#pass2, #passInput{
    width: 100%;
    height: 30px;
    border-radius: 3px;
    border: 2px solid #eaeaea;
    padding: 5px 10px;
    font-size: 12px;
    margin: 20px 0px 20px 0px;
}

#searchWrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    
}

#searchBar{
    width: 100%;
    height: 30px;
    border-radius: 3px;
    border: 2px solid #eaeaea;
    padding: 5px 10px;
    font-size: 12px;
    margin: 20px 0px 20px 0px;
    position: relative;
    
}

#searchWrapper{
    position: relative;
    display: flex;
    flex-direction: row;
}

.search-box{
    position:absolute;
    right: 80%;
    top: 300px
}
 .search-select{
    position:absolute;
   
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    right:-80px;
    top: 330px;
}
#updateText{
    position: relative;
    top: -30px;
}

#btnCloseProfile,#btnCloseLogin,#btnCloseSignUp{
    border-radius: 50%;
    border-color: #eaeaea;
    border-width: 3px;
    color: #7e1d1d;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
#btnCloseProfile:hover,#btnCloseLogin:hover{
    color: #3f0606;
    background: none;
}

#sendSignIn,#sendSignUp{
    border-radius: 20px;
    padding: 10px;
    background: none;
    border-color: #2196f3;
    cursor: pointer;
    width: 100%;
    border-width: 2.5px;
}

#sendSignIn:hover,#sendSignUp:hover{
    background: #84caed;
    color: white;
}

.buyBtn{
   text-decoration: none;
    background: none;
    border-radius: 200px;
   border: 3px solid rgb(35, 143, 157);
   text-transform: uppercase;
   padding: 12px 20px;
   min-width: 100px;
   margin:10px;
   transition: color 0.4s linear;
   position: relative;
   color:#fff;
   cursor: pointer;
   
}


.buyBtn:hover{
    color: rgb(64, 112, 214);
}

.buyBtn::before{
    content:"";
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 105%;
    /* background: rgb(115, 225, 223); */
    background: linear-gradient(to top, #008aff,#00ffe7);
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
    transform: scaleX(0);
    border-radius: 200px;
}
.buyBtn:hover::before{
    transform: scaleX(1);
    border-radius: 200px;
}



#goBack{
    text-decoration: none;
     background: none;
     border-radius: 200px;
    border: 3px solid rgb(35, 143, 157);
    text-transform: uppercase;
    padding: 12px 20px;
    min-width: 200px;
    margin-left:100px;
    transition: color 0.4s linear;
    position: relative;
    left:300px;
    color:#fff;
    cursor: pointer;
    top: 328px;
 }
 
 
 #goBack:hover{
     color: rgb(64, 112, 214);
 }
 
 #goBack::before{
     content:"";
     position: absolute;
     left: 0;
     top: -1px;
     width: 100%;
     height: 105%;
     /* background: rgb(115, 225, 223); */
     background: linear-gradient(to top, #008aff,#00ffe7);
     z-index: -1;
     transition: transform 0.5s;
     transform-origin: 0 0;
     transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
     transform: scaleX(0);
     border-radius: 200px;
 }
 #goBack:hover::before{
     transform: scaleX(1);
     border-radius: 200px;
 }

 #buyFav{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 30px;
    position: relative;
    top: 0px;
 }
 #favBtn{
   text-align: center;
   font-weight: bold;
   display: inline-block;
   font-size: 25px;
   color: red;
   width: 35px;
   height: 35px;
   border-radius: 50%;
   position: relative;
 }

 #favBtn::before{
    position: absolute;
    content: '';
    width: 45px;
    height: 45px;
    z-index: -1;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: rotate 8s linear infinite;
    border: 3px dashed;
 }

 @keyframes rotate{
    from{
        transform: translate(-50%,-50%)rotate(360deg);
    }
    to{
        transform: translate(-50%,-50%)rotate(-360deg);
    }
 }

 #favContainer{
    /* width: 50%;
    height: 40%; */
    border-radius: 50px;
    padding: 20px;
    background-color: rgb(24, 106, 136);
    cursor: pointer;
    
 }

 #favContainer:hover{
    filter: brightness(2);
    border: solid;
    border-color: rgb(100, 208, 248);
 }

 #clearFav{
    border-radius: 40px;
    padding: 10px;
    cursor: pointer;
    background: none;
    color: white;
    width: 15%;
    border: solid;
    margin: 20px;
    border-color: rgba(255, 1, 1, 0.3);
    transition: all ease 0.5s;
 }

 #clearOne{
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    background: none;
    color: white;
    margin: 20px;
    border: solid;
    border-color: rgba(255, 1, 1, 0.3);
    transition: all ease 0.5s;
 }
 #clearOne:hover{
    border-color: rgba(255, 1, 1, 0.7);
    color: rgb(163, 58, 58);
    
 }

 #clearFav:hover{
    border-color: rgba(255, 1, 1, 0.7);
    color: rgb(163, 58, 58);
    width: 20%;
 }

 

 #bookTitle{
    font-weight: bold;
    background-color:rgba(22, 22, 22, 0.5);
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    max-height: 150px;
    min-height: 150px;
 }

 #favH{
    margin-left: 40px;
 }


 #navTab{
    position: fixed;
 }

 #navTab{
    z-index: 9;
    background: rgba(0, 25, 39, 0.7);
    border-radius: 30px;
 }

 @media (max-width: 600px) {
    #logoContainer{
        display: none;
    }
    #selectUpdate{
        width: 50%;
    }
    #logoText{
        display: none;
    }
    #searchBar{
        width: 100%;
    }
  }
 


